<%- include("header.ejs") %>
<div class="mainpage">
    <h1 id="main-heading">Domestic Library</h1>
    <h2 id="sub-heading">A Library just for YOU</h2>
</div>
<div class="about">
    <h1 id="about-heading" class="about-content">About Us</h1>
    <p id="aboutpara" class="about-content">Do you remember details about a book you read previously?Well, in case you dont...<br />Dont worry.We got you covered!!!</p>
    <h3 id="about-purpose" class="about-content">Domestic Library enables you to track and remember all the books you have read. Hurry up and add a book to your library</h3>
    <button id="addbook"><a href="/add" style="text-decoration: none; color: white;">Add a Book</a></button>
</div>
<%- include("footer.ejs") %>